
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.containers{
  margin: 0 auto;
  width: 570px;
}



img {
  width: 300px;
}

/* Typography */

h1 {
  font-size: 60px;

}

h2{
  font-size: 42px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 0;
  margin-bottom: 20px;
  
}

h3{
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

h1, 
h2 {
  font-weight: 300;
  margin-top: 0;
}

.small{
  font-size: 16px;
  margin-top: 0;
  color: #99d930;
}

.title1 {
  font-size: 80px;
}

.title2 {
  font-size: 60px;
}

.title1, .title2 {
  font-weight: bold;
  display: block;
  color: #99d930;
}

/* Link */
p {
  margin-bottom: 0;
}

a{
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

section, header{
  padding: 100px 0;
}

header{
  background-color: #D7d7d7;
}

.section1{
  background-color: #ffeaff;
}

.section2{
  background-color: #eaf9ff;
}

.inverse{
  background-color: #252525;
  color: #fff;
}

.btn {
  display: inline-block;
  background-color: #99d930;
  text-decoration: none;
  margin-top: 25px;
  padding: 10px 25px;
  color: #252525;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: #fff;
}

.inverse .btn:hover,
.inverse .btn:focus {
  background-color: #fff;
  color: #252525;
}
